<mat-toolbar color="primary">
  My infomation
</mat-toolbar>

<mat-list *ngIf="data ; else noData">
  <mat-list-item class="infomation">
    <div *ngIf="data.fname && data.lname" matLine>
      <b>Name</b><label>{{data.fname}} {{data.lname}}</label>
    </div>
    <div *ngIf="data.age" matLine>
      <b>Age</b><label>{{data.age}}</label>
    </div>
    <div *ngIf="data.gender" matLine>
      <b>Gender</b><label>{{data.gender}}</label>
    </div>
    <div *ngIf="data.address" matLine>
      <b>Adderss</b><label>{{data.address}}</label>
    </div>
  </mat-list-item>
  <mat-list-item class="information-music">
    <div *ngIf="data.fname && data.lname && data.music" matLine class="music-container">
      <b>Music</b>
      <div class="music">
        <div *ngFor="let item of data.music ; let i = index" class="music-list">
          <b> {{item.name}} </b> <b>[ {{item.artist}} ]</b> , {{item.nationality}}
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<ng-template #noData>
  <div class="noData">
    <b>No Data</b>
    <mat-icon>folder_off</mat-icon>
  </div>
</ng-template>

