<!-- <h2 class="text-center">Registration</h2>
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6 col-md-offset-3">
      <div class="jumbotron">
        <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success" >Register</button>
        </form>
      </div>
    </div>
  <div class="col-md-3"></div>
</div> -->

<div class="cmp-register-interface">
  <h1 class="text-center">Register</h1>
  <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >

    <div class="cmp-input-field">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input type="text" matInput name="name" formControlName="name" autocomplete="off" placeholder="Your name">
        <mat-hint>Your Name</mat-hint>
        <mat-error *ngIf="angForm.get('name')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input type="email" matInput name="email" formControlName="email" placeholder="Email">
        <mat-hint>Your Email</mat-hint>
        <mat-error *ngIf="angForm.get('email')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input type="password" matInput name="Password" formControlName="password" autocomplete="off" placeholder="Password">
        <mat-hint>Your Password</mat-hint>
        <mat-error *ngIf="angForm.get('password')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
    </div>

    <button
    mat-flat-button
    type="submit"
    color="primary"
    class="cmd-register"
    >Register</button>

  </form>
</div>
