.cmp-register-interface{
  &>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  border-radius: 2%;
  background-color: white;
  padding: 30px;
  width: 500px;
  height: 425px;
  margin: auto;
  margin-top: 10%;
  border: 1px solid white;
  text-align: center;
  .cmd-register{
    margin-top: 30px;
    font-size: 18px;
    font-family: monospace;
    padding: 5px 15px 5px 15px;
    margin-top: 30px;
  }
}

.cmp-complete-alert-box , .cmp-incomplete-alert-box, .cmp-serverDown-alert-box, .cmp-sameName-alert-box{
  text-align: center;
  font-size: 30px;
  &>h1{
    font-family: 'Times New Roman', Times, serif;
  }
  &>img{
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
  }
}

mat-form-field{
  mat-label{
    color: grey;
  }
  mat-hint{
    color: black;
  }
}

::ng-deep .mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: #009688;
  }
}
