<div *ngIf="data; else loading">

  <mat-toolbar color="primary">
    {{data?.name}} infomation
  </mat-toolbar>

  <mat-list class="infomation">

    <div *ngIf="data.name.length !== 0 && data.name !== 'n/a' ">
      <mat-list-item>
        <mat-icon>person</mat-icon>
        <b>Species</b><label>{{data.name}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.classification.length !== 0">
      <mat-list-item>
        <mat-icon>description</mat-icon>
        <b>Classification</b><label>{{data.classification}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.designation.length !== 0">
      <mat-list-item>
        <mat-icon>assignment_ind</mat-icon>
        <b>Designation</b><label>{{data.designation}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.average_height.toString().length !== 0">
      <mat-list-item>
        <mat-icon>height</mat-icon>
        <b>Average height</b><label>{{data.average_height}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.average_lifespan.toString().length !== 0">
      <mat-list-item>
        <mat-icon>favorite</mat-icon>
        <b>Average lifespan</b><label>{{data.average_lifespan}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.language.length !== 0">
      <mat-list-item>
        <mat-icon>spellcheck</mat-icon>
        <b>Language</b><label>{{data.language}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.homeworld.length !== 0">
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <b>Homeworld</b><label>{{data.homeworld}}</label>
      </mat-list-item>
    </div>

  </mat-list>

</div>

<ng-template #loading>
  <svg class="loading-spinner" viewBox="0 0 50 50">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="7.5"></circle>
  </svg>
</ng-template>
