<div *ngIf="data; else loading">

  <mat-toolbar color="primary">
    {{data?.name}} infomation
  </mat-toolbar>

  <mat-list class="infomation">

    <div *ngIf="data.name.length !== 0 && data.name !== 'n/a' ">
      <mat-list-item>
        <mat-icon>public</mat-icon>
        <b>Name</b><label>{{data.name}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.rotation_period.length !== 0">
      <mat-list-item>
        <mat-icon>360</mat-icon>
        <b>Rotation</b><label>{{data.rotation_period}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.orbital_period.length !== 0">
      <mat-list-item>
        <mat-icon>settings_backup_restore</mat-icon>
        <b>Orbital</b><label>{{data.orbital_period}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.climate.length !== 0">
      <mat-list-item>
        <mat-icon>nights_stay</mat-icon>
        <b>Climate</b><label>{{data.climate}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.terrain.length !== 0">
      <mat-list-item>
        <mat-icon>Terrain</mat-icon>
        <b>Terrain</b><label>{{data.terrain}}</label>
      </mat-list-item>
    </div>

    <div *ngIf="data.population.length !== 0">
      <mat-list-item>
        <mat-icon>people</mat-icon>
        <b>Population</b><label>{{data.population}}</label>
      </mat-list-item>
    </div>

  </mat-list>
</div>

<ng-template #loading>
  <svg class="loading-spinner" viewBox="0 0 50 50">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="7.5"></circle>
  </svg>
</ng-template>
