<ng-container>
  <div class="info-container" >
      <b>Your Height (cm.)</b><input #elem2 type="number" #height>
      <b>Your Weight (kg.)</b><input #elem1 type="number" #weight>
  </div>
  <button class="cmd-button-ok" type="button" (click)="getresult(weight.value,height.value)" >OK</button><br> <!-- ส่งค่าเป็น stirng -->
  <output class="cmp-outPut" #outPut><b>Your BMI is {{ result }}.</b></output>
</ng-container>

<ng-container>
  <div class="info-condition">
      <h3>Condition!!!</h3>
      <p>This question is my free style.</p>
  </div>
</ng-container>
