.info-container{
  width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 15ch 0.75fr;
  padding-top: 1em;
}

.cmd-button-ok{
  width: 200px;
  font-size: 1em;
  margin: 0.75em 0em 0.75em 0em;
}

.info-condition{
  &>h3{
    margin-right: 80%;
  }
  &>p{
    text-align: justify;
    padding-left: 1em;
  }
  &>p::before{
    content: ">>";
  }
  border: inset;
  margin: 1em 12cm 0em 12cm;
}
