<div class="cmp-create-interface" *ngIf="authLevel === 'admin' ">
  <h1 mat-dialog-title class="text-center" >Create user</h1>
  <form mat-dialog-content [formGroup]="createForm" (ngSubmit)="postdata(createForm)">

    <div class="cmp-input-field">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input type="text"
          matInput name="name"
          formControlName="name"
          autocomplete="doNotAutoComplete"
          placeholder="Your name">
        <mat-hint>Your Name</mat-hint>
        <mat-error *ngIf="createForm.get('name')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input type="email"
          matInput name="email"
          formControlName="email"
          autocomplete="doNotAutoComplete"
          placeholder="Email">
        <mat-hint>Your Email</mat-hint>
        <mat-error *ngIf="createForm.get('email')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input type="password"
          matInput name="Password"
          formControlName="password"
          autocomplete="doNotAutoComplete"
          placeholder="Password">
        <mat-hint>Your Password</mat-hint>
        <mat-error *ngIf="createForm.get('password')?.errors?.['required']">Required</mat-error>
      </mat-form-field>
    </div>

    <button
    mat-flat-button
    type="submit"
    color="primary"
    >
      <mat-icon>save</mat-icon>
      <span>Create</span>
    </button>

    <button
    mat-flat-button
    type="button"
    color="warn"
    mat-dialog-close
    >
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>

  </form>
</div>

<ng-template #CompleteDialog>
  <div class="cmp-complete-alert-box">
    <h1 matDialogTitle>Register Complete!!!</h1>
    <img src="./assets/illustration/Dance-duck.gif" width="200" height="200">
    <mat-dialog-actions align="center">
      <button
      color="primary"
      mat-flat-button
      (click)="onDialogClose()"
      matDialogClose>OK</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #IncompleteDialog>
  <div class="cmp-incomplete-alert-box">
    <h1 matDialogTitle>Register incomplete , check your data again </h1>
    <img src="./assets/illustration/Cat-dead-chat.gif" width="200" height="200">
    <mat-dialog-actions align="center">
      <button
      color="warn"
      mat-flat-button
      (click)="onDialogClose()"
      matDialogClose>Back</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #ServerDown>
  <div class="cmp-serverDown-alert-box">
    <h1 matDialogTitle>Sorry, Server down OR forget to start Server</h1>
    <img src="./assets/illustration/Bongo-cat.gif" width="200" height="200">
    <mat-dialog-actions align="center">
      <button
      color="warn"
      mat-flat-button
      (click)="onDialogClose()"
      matDialogClose>Back</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #SameName>
  <div class="cmp-sameName-alert-box">
    <h1 matDialogTitle>this name or email is already use</h1>
    <img src="./assets/illustration/Kennen-slap-teemo.gif" width="200" height="200">
    <mat-dialog-actions align="center">
      <button
      color="warn"
      mat-flat-button
      (click)="onDialogClose()"
      matDialogClose>Back</button>
    </mat-dialog-actions>
  </div>
</ng-template>
