.cmp-create-interface {
  &>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  border-radius: 2%;
  padding: 30px;
  width: 500px;
  height: 350px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

button{
  margin-left: 5px;
  margin-right: 5px;
}

.cmp-complete-alert-box , .cmp-incomplete-alert-box, .cmp-serverDown-alert-box, .cmp-sameName-alert-box{
  text-align: center;
  font-size: 30px;
  &>h1{
    font-family: 'Times New Roman', Times, serif;
  }
  &>img{
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
  }
}
