<div class="data-check" *ngIf="data ; else loading">
    <div class="game-main-container">
        <div class="game-container" *ngFor="let item of data.results">
            <div class="details">
                <img src="{{item.background_image}}" alt="{{item.name}}" width="700" height="600">
                <div class="details-content">
                    <div class="name">Name : {{item.name}}</div>
                    <div class="released">Released date : {{item.released}}</div>
                    <div class="ratings-container">
                        <div class="ratings-title">
                            RATINGS
                            <mat-icon>thumb_up</mat-icon>
                        </div>
                        <div class="ratings" *ngFor="let iv of item.ratings">
                            <div class="rating-exceptional" *ngIf="iv.title === 'exceptional' " [ngStyle]="{'width': iv.percent + '%'}">
                                <br />
                            </div>
                            <div class="rating-recommended" *ngIf="iv.title === 'recommended' " [ngStyle]="{'width': iv.percent + '%'}">
                                <br />
                            </div>
                            <div class="rating-meh" *ngIf="iv.title === 'meh' " [ngStyle]="{'width': iv.percent + '%'}">
                                <br />
                            </div>
                            <div class="rating-skip" *ngIf="iv.title === 'skip' " [ngStyle]="{'width': iv.percent + '%'}">
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="updated">{{item.updated}}</div>
                    <div class="platforms-container">
                        <div class="platforms" *ngFor="let v of item.platforms">
                            <div class="platform-name">{{v.platform.name}}</div>
                        </div>
                    </div>
                    <div class="genres-container">
                        <div class="genres" *ngFor="let vi of item.genres">
                            <div class="genres-name">{{vi.name}}</div>
                        </div>
                    </div>
                    <div class="stores-container">
                        <div class="stores" *ngFor="let vii of item.stores">
                            <div class="stores-store">{{vii.store.name}}</div>
                        </div>
                    </div>
                    <div class="tags-container">
                        <div class="tags" *ngFor="let viii of item.tags">
                            <div class="tags-name">{{viii.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <svg class="loading-spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="7.5"></circle>
    </svg>
</ng-template>