<div class="data-check" *ngIf="data ; else loading">
    <div class="game-main-container">
        <div class="game-container" *ngFor="let item of data.results">
            <div class="details">
                <img src="{{item.background_image}}" alt="{{item.name}}" width="700" height="600">
                <div class="details-content">
                    <div class="name">Name : {{item.name}}</div>
                    <div class="released">Released date : {{item.released}}</div>
                    <div class="ratings-container">
                        <div class="ratings" *ngFor="let rate of item.ratings">
                            <div class="rating-box">
                                {{rate.title}} : {{rate.percent}} %
                            </div>
                        </div>
                    </div>
                    <div>x</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <svg class="loading-spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="7.5"></circle>
    </svg>
</ng-template>