<div class="audio-container">
  <div class="audioTitle">
    <span>Audio Name</span>
  </div>
  <div class="cmd-music">
    <div class="cmd-music-previous">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </div>
    <div class="cmd-music-playPause">
      <mat-icon (click)="onPlay()">play_circle</mat-icon>
    </div>
    <div class="cmd-music-stop">
      <mat-icon (click)="onPause()">pause_circle</mat-icon>
    </div>
    <div class="cmd-music-next">
      <mat-icon>arrow_forward_ios_new</mat-icon>
    </div>
  </div>
</div>
