<div class="music-container">
  <img src="./assets/background-image/Music.jpg">
  <div class="music-control">
    <div class="music-wrapper">
      <span class="music-name">{{path[select_num].name}}</span>
    </div>
    <div class="music-menu">
      <button mat-icon-button color="primary" type="button" (click)="onPrevious()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-fab color="primary" type="button" (click)="onPlay()" *ngIf="play === true">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-fab color="primary" type="button" (click)="onPause()" *ngIf="play === false">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="onNext()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div class="music-list" *ngFor="let item of path;let i = index">
      {{item.name}}
    </div>
  </div>
</div>
