<div class="music-container">
  <button class="music-add" (click)="openCreateDialog()" matTooltip="add new music">
    <mat-icon>add</mat-icon>
  </button>
  <button class="music-drop" (click)="openDropDialog()" matTooltip="remove music">
    <mat-icon>delete</mat-icon>
  </button>
  <img src="./assets/background-image/Music.jpg" width="380px">
  <div class="music-control">
    <div class="music-wrapper" *ngIf="music_list && music_list.length > 0">
      <span class="music-name">{{music_list[music_num].name}}</span>
    </div>
    <div class="music-menu">
      <button mat-icon-button color="primary" type="button" (click)="onPrevious()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-fab color="primary" type="button" (click)="onPlay()" *ngIf="play === true">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-fab color="primary" type="button" (click)="onPause()" *ngIf="play === false">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="onNext()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div *ngFor="let item of music_list;let i = index">
      <div class="music-list" (click)="onChange(i+1)">
        <span>{{item.name}}</span>
        <mat-icon *ngIf="i.toString() === music_num.toString()">done</mat-icon>
      </div>
    </div>
  </div>
</div>
