.music-container{
  border: 0.5px solid black;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 382px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  .music-add{
    padding: 5px;
    position: absolute;
    margin: auto;
    margin-left: 345px;
    background-color: transparent;
    border: none;
    color: white;
  }
  .music-drop{
    padding: 5px;
    position: absolute;
    margin: auto;
    margin-left: 320px;
    background-color: transparent;
    border: none;
    color: white;
  }
  .music-control{
    background-color: white;
    .music-menu{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .music-list{
      color: black;
      font-size: 20px;
      padding: 15px;
      text-align: center;
      mat-icon{
        text-align: right;
        color: green;
        vertical-align: -6px;
      }
    }
    .music-list:hover{
      background-color: silver;
      cursor: pointer;
    }
    .music-wrapper{
      padding-top: 30px;
      text-align: center;
      .music-name {
        color: black;
        font-size: 30px;
      }
    }
  }
}
