:host{ /* :host = 'app-root' */
  display: flex;
  flex-direction: column;
  height:  100vh;
  overflow-y: hidden; //disable scrool bar
  &>mat-sidenav-container{
    flex: 1 1 0;
  }
  &>mat-toolbar{
    height: 56px;
    &>button{
      border: none;
      background-color: transparent;
      color: white;
      margin-top: 3px;
    }
    &>button:hover{
      cursor: pointer;
    }
    &>nav{
      margin-left: auto;
      &>a{
        margin-right: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-decoration: none;
        border: 1px solid white;
        color:white;
      }
    }
    &>.logout-btn{
      margin-left: 20px;
    }
  }
}

span{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

mat-sidenav{
  width: 200px;
}

mat-sidenav-content{
  overflow: scroll;
}

mat-toolbar{
  z-index: 2;
  box-shadow: 0px 0px 8px 0px  black;
}

audio{
  vertical-align: -7px;
  width: 300px;
  height: 25px;
  margin-left: 10px;

  //audio control BG color
  &::-webkit-media-controls-enclosure {
    border-radius: 10px;
  }
}

.showAudioControl{
  margin-left: 10px;
}

.dark-mode{
  padding-left: 10px;
  &>mat-icon{
    padding-left: 5px;
    vertical-align: -4px;
  }
  &>mat-slide-toggle{
    padding-left: 5px;
  }
}

.flex-stretch{
  flex: 1 0 auto;
}

.login-form{
  width: 800px;
  margin: auto;
  margin-top: 50px;
  text-align: center;

}

.cmp-homepage{
  &>.cmd-link-menu{
    margin-left: auto;
    &>a{
      padding-left: 20px;
      font-size: 24px;
      font-family: 'Times New Roman', Times, serif;
    }
    &>a:hover{
      color: white;
      text-shadow: 8px 8px 16px #000000;
    }
  }
  &>router-outlet{
    background-color: aqua;
  }
}

