<div *ngIf="loginbtn">
  <mat-toolbar color="primary" class="cmp-homepage">
    <span>My-Homepage</span>
    <nav class="cmd-link-menu">
      <a mat-button *ngIf="loginbtn" routerLink="login">Login</a>
      <a mat-button *ngIf="loginbtn" routerLink="registration">Registration</a>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<!-- homepage part -->
<ng-container *ngIf="logoutbtn">
  <mat-toolbar color="primary">
    <button
    mat-icon-button
    *ngIf="isSmallScreen$ | async"
    (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My-Angular</span>

    <div class="showAudioControl">
      <button type="submit"
      (click)="showAudioControl()"
      mat-raised-button
      color="primary"
      matTooltip="Click to hide/show music play box">
        <mat-icon>music_note</mat-icon>
      </button>
    </div>

    <div *ngIf="audioShow">
        <audio controls>
          <source src="../assets/music/15-OnOurway.m4a" type="audio/ogg">
          <source src="../assets/music/15-OnOurway.m4a" type="audio/mpeg">
        </audio>
    </div>

    <div class="dark-mode">
      <div class="flex-stretch"></div>
      <mat-slide-toggle [formControl]="toggleControl" (click)="onActive()"></mat-slide-toggle>
      <mat-icon *ngIf="darkActive === true">light_mode</mat-icon>
      <mat-icon *ngIf="darkActive === false">bedtime</mat-icon>
    </div>

    <div class="logout-btn">
      <button
      *ngIf="logoutbtn"
      type="button"
      mat-raised-button
      (click)="logout()">logout</button>
    </div>

    <nav>
      <a mat-button routerLink="midterm" (click)="onLog('midterm')">Midterm</a>
      <a mat-button routerLink="input"(click)="onLog('input')">Input</a>
      <a mat-button routerLink="my-form" (click)="onLog('my-form')">My-Form</a>
      <a mat-button routerLink="star-war" (click)="onLog('star-war')">StarWar</a>
      <a mat-button routerLink="covid"(click)="onLog('covid')">Covid19</a>
    </nav>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      [opened]="(isSmallScreen$ | async) === false"
      [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    >
      <ng-template [cdkPortalOutlet]="portal$ | async"></ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
