<mat-toolbar color="primary">
  <button
  mat-icon-button
  *ngIf="isSmallScreen$ | async"
  (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My-Angular</span>
  <nav>
    <a mat-button routerLink="midterm">Midterm</a>
  </nav>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [opened]="(isSmallScreen$ | async) === false"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
  >
  <ng-template [cdkPortalOutlet]="portal$ | async"></ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
