<div *ngIf="loginBtn">
  <mat-toolbar color="primary" class="cmp-homepage">
    <span>My-Homepage</span>
    <nav class="cmd-link-menu">
      <a mat-button routerLink="login" (click)="onLog('login')">Login</a>
      <a mat-button routerLink="registration" (click)="onLog('registration')">Registration</a>
      <a mat-button routerLink="about" (click)="onLog('about')">About My-Homepage</a>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<!-- homepage part -->
<ng-container *ngIf="logoutBtn">
  <mat-toolbar color="primary">
    <button
    mat-icon-button
    *ngIf="isSmallScreen$ | async"
    (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My-Angular</span>

    <div class="showAudioControl">
      <button type="submit"
      (click)="showAudioControl()"
      mat-raised-button
      color="primary"
      matTooltip="Click to hide/show music play box">
        <mat-icon>music_note</mat-icon>
      </button>
    </div>

    <div *ngIf="audioShow">
      <audio controls class="audiplay">
        <source src="../assets/music/OnOurway.m4a" type="audio/ogg">
      </audio>
    </div>

    <div class="logout-btn">
      <button
      *ngIf="logoutBtn"
      type="button"
      mat-raised-button
      (click)="logout('logout')"
      matTooltip="Click to Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

    <div class="dark-mode">
      <div class="flex-stretch"></div>
      <mat-slide-toggle
      matTooltip="Darkmode"
      [formControl]="toggleControl"
      (click)="onActive()"></mat-slide-toggle>
      <mat-icon *ngIf="darkActive === false">light_mode</mat-icon>
      <mat-icon *ngIf="darkActive === true">bedtime</mat-icon>
    </div>

    <div class="cmp-show-list">
      <nav class="w3-animate-left" *ngIf="listShow === true">
        <a mat-button routerLink="dashboard" (click)="onLog('dashboard')">Dashboard</a>
        <a mat-button routerLink="midterm" (click)="onLog('midterm')">Midterm</a>
        <a mat-button routerLink="input" (click)="onLog('input')">Input</a>
        <a mat-button routerLink="my-form" (click)="onLog('my-form')">My-Form</a>
        <a mat-button routerLink="star-war" (click)="onLog('star-war')">StarWar</a>
        <a mat-button routerLink="covid" (click)="onLog('covid')">Covid19</a>
        <a mat-button routerLink="music" (click)="onLog('music')">Music</a>
        <a mat-button routerLink="movie" (click)="onLog('movie')">Movie</a>
      </nav>
    </div>
    <div class="cmd-show-list">
      <button type="button" (click)="onShowList()" *ngIf="true">
        <mat-icon *ngIf="listShow === true" class="front">arrow_left</mat-icon>
        <mat-icon *ngIf="listShow === false" class="back">arrow_drop_down</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      [opened]="(isSmallScreen$ | async) === false"
      [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    >
      <ng-template [cdkPortalOutlet]="portal$ | async"></ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
