<ng-container>
  <div class="info-container" >
      <b>Your Height (cm.)</b><input #elem2 type="number" #height>
      <b>Your Weight (kg.)</b><input #elem1 type="number" #weight>
  </div>
  <div class="button">
    <button type="button" (click)="getresult(weight.value,height.value)">OK</button> <!-- ส่งค่าเป็น stirng -->
  </div>
  <div class="display">
    <output>
      <b>Your BMI is</b><code>{{ result }}</code>
    </output>
  </div>
</ng-container>

<ng-container>
  <div class="info-condition">
      <h3>Condition!!!</h3>
      <p>This question is my free style.</p>
  </div>
</ng-container>
