.input{
  display: grid;
  grid-template-columns: 10em;
  width: 150px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.button{
  text-align: center;
  margin-bottom: 30px;
}

.display{
  text-align: center;
  font-size: 20px;
  &>output{
    &>b{
      padding-right: 10px;
      font-family: 'Courier New', Courier, monospace;
    }
    &>code::after{
      content: " Unit";
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }
  }
}
