.cmp-update-interface {
  &>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  border-radius: 2%;
  padding: 30px;
  width: 500px;
  height: 350px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

button{
  margin-left: 5px;
  margin-right: 5px;
}
