
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-homepage-primary: mat.define-palette(mat.$indigo-palette);
$my-homepage-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-homepage-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-homepage-theme: mat.define-light-theme((
  color: (
    primary: $my-homepage-primary,
    accent: $my-homepage-accent,
    warn: $my-homepage-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-homepage-theme);

/* You can add global styles to this file, and also import other style files */

html{
  font-family: 'Courier New', Courier, monospace !important;
}

input[type="number"]{
  font-family: monospace;
  font-size: 1.25em;
  text-align: right;
}

.info-condition{
  &>h3{
    margin-right: 80%;
  }
  &>p{
    text-align: justify;
    padding-left: 1em;
  }
  &>p::before{
    content: ">>";
  }
  border: inset;
  margin: 1em 12cm 0em 12cm;
}

html, body { height: 100%;}
body { margin: 0;}

//star-war-CSS
.star-war-list-cmp{
  &>.star-war-data-list{
    padding-top: 20px;
    padding-bottom: 20px;
    &>label{
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
    }
  }
  &>.star-war-data-list:hover{
    background-color: silver;
    cursor: pointer;
    &>label{
      cursor: pointer;
    }
  }
}

.star-war-search-box{
  margin-top: 10px;
  &>mat-form-field{
    text-align: center;
    mat-icon:hover{
      cursor: pointer;
    }
  }
}
