/* You can add global styles to this file, and also import other style files */

html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="number"]{
  font-family: monospace;
  font-size: 1.25em;
  text-align: right;
}

.info-condition{
  &>h3{
    margin-right: 80%;
  }
  &>p{
    text-align: justify;
    padding-left: 1em;
  }
  &>p::before{
    content: ">>";
  }
  border: inset;
  margin: 1em 12cm 0em 12cm;
}
