
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-homepage-primary: mat.define-palette(mat.$indigo-palette);
$my-homepage-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-homepage-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-homepage-theme: mat.define-light-theme((
  color: (
    primary: $my-homepage-primary,
    accent: $my-homepage-accent,
    warn: $my-homepage-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-homepage-theme);

/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

html{
  font-family: 'Courier New', Courier, monospace !important;
}

input[type="number"]{
  font-family: monospace;
  font-size: 1.25em;
  text-align: right;
}

.info-condition{
  &>h3{
    margin-right: 80%;
  }
  &>p{
    text-align: justify;
    padding-left: 1em;
  }
  &>p::before{
    content: ">>";
  }
  border: inset;
  margin: 1em 12cm 0em 12cm;
}

html, body { height: 100%;}
body { margin: 0;}

//star-war-CSS
.star-war-list-cmp{
  &>.star-war-data-list{
    padding-top: 20px;
    padding-bottom: 20px;
    &>label{
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
    }
  }
  &>.star-war-data-list:hover{
    background-color: silver;
    cursor: pointer;
    &>label{
      cursor: pointer;
    }
  }
}

.star-war-search-box{
  margin-top: 10px;
  &>mat-form-field{
    text-align: center;
    mat-icon:hover{
      cursor: pointer;
    }
  }
}

//Loading animation
.loading-txt{
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5cm;
  font-weight: 900;
  padding-left: 1%;
}

.loading-animation{
  border: 8px solid #f3f3f3;
  border-top: 8px solid blue;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 5%;

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}

.loading-spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  &>.path {
    stroke: blue;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
// end loading animation


.infomation{
  div{
    b{
      margin-left: 5px;
      font-size: 18px;
      text-align: right;
    }
    b::after{
      font-family: "Font Awesome 5 Free";
      content: "\f054";
      display: inline-block;
      padding-right: 3px;
      vertical-align: -1.5px;
      font-weight: 900;
      color: greenyellow;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Dark theme
@import "~@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-typography{
  background-image: url("./assets/background-image/Dark-soul-III.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
