<div *ngIf="data; else loading" class="list"> <!-- check data null or not -->

  <mat-paginator
    [length]="data.count"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageIndex($event)"
    aria-label="Select page">
  </mat-paginator>

  <form [formGroup]="formGroup" (ngSubmit)="onSearch()" class="star-war-search-box">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <mat-icon (click)="onSearch()" matSuffix>search</mat-icon>
      <input matInput type="search" formControlName="search">
    </mat-form-field>
  </form>

  <div *ngIf="data.count === 0">
    <h1>No Results</h1>
  </div>

  <div class="star-war-list-cmp">
    <div  class="star-war-data-list" *ngFor="let item of data.results; let i = index" (click)="onItemClick(item.url)">
      <label>{{ item.name }}</label>
    </div>
    <!-- // this is manaul function //
      <div class="">
        <button type="button" [disabled]="data.previous === null" (click)="changePage(data.previous!)">
          <i class="material-icons">
            arrow_left
          </i>
        </button>
        <button type="button" [disabled]="data.next === null" (click)="changePage(data.next!)">
          <i class="material-icons">
            arrow_right
          </i>
        </button>
      </div>
    -->
  </div>
</div>

<ng-template #loading>
  <svg class="loading-spinner" viewBox="0 0 50 50">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="7.5"></circle>
  </svg>
</ng-template>
