<div *ngIf="data; else loading" class="list"> <!-- check data null or not -->

  <mat-paginator
    [length]="data.count"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>

  <form class="" [formGroup]="formGroup" (ngSubmit)="onSearch()">
      <input type="search" formControlName="search" placeholder=" Search Here " class="">
  </form>
  <div class="">
    <div  class="" *ngFor="let item of data.results; let i = index" (click)="onItemClick(item.url)">
      <label>{{ item.name }}</label>
    </div>
    
    <!-- <div class="">
      <button type="button" [disabled]="data.previous === null" (click)="changePage(data.previous!)">
        <i class="material-icons">
          arrow_left
        </i>
      </button>
      <button type="button" [disabled]="data.next === null" (click)="changePage(data.next!)">
        <i class="material-icons">
          arrow_right
        </i>
      </button>
    </div> -->
  </div>
</div>

<ng-template #loading>
  <div class=""></div>
  <p class="">Loading...</p>
</ng-template>
