<p class="progress-bar-txt">Progress Bar</p>
<progress value="25" max="100" class="progress-bar"></progress>
<button type="button" (click)="onHi()" class="button-hi">HI</button>
<hr>

<main class="form-signin">
  <form>
    <h1 class="">Please sign in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>

<button (click)="onGen()">
  GENARATE
</button>
