<div class="policy_container">
  <h1>นโยบายการคุ้มครองข้อมูลส่วนบุคคล บริษัท เปรมประชาขนส่งจำกัด</h1>
  <div class="policy_reason">
    <h2>หลักการและเหตุผล</h2>
    <p>เนื่องด้วยในปัจจุบันข้อมูลส่วนบุคคลมีความสำคัญ มีรูปแบบการเก็บข้อมูล หรือการได้รับข้อมูลหลายรูปแบบ เช่น การเก็บในรูปแบบของเอกสาร หรือข้อมูลแบบอิเล็กทรอนิกส์ ที่เก็บอยู่ภายในและภายนอกบริษัท อีกทั้งในปัจจุบันที่มีการพัฒนาเพิ่มขึ้นจากเทคโนโลยีในการรับส่งข้อมูลที่มีประสิทธิภาพสูง ทำให้สามารถเข้าถึงข้อมูลได้ง่าย สะดวก และรวดเร็ว ผ่านหลายช่องทาง ทางบริษัทได้ตระหนักถึงความสำคัญของการคุ้มครองของมูลส่วนบุคคล (Data Privacy) ที่จะต้องได้รับความคุ้มครองให้ข้อมูล มีความปลอดภัยสูงสุดตาม พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 รวมถึงให้สอดคล้องกับแนวทางปฏิบัติตามหลักสากลว่าด้วย กฏหมายคุ้มครองข้อมูลส่วนบุคคล และให้ผู้ที่เกี่ยวข้องดำเนินการตามแนวทางที่ได้กำหนดในนโยบายนี้อย่างเคร่งครัด</p>
  </div>
  <div class="policy_responsible">
    <h2>ขอบเขตความรับผิดชอบ</h2>
    <p>กำหนดให้การดำเนินการทั้งหมดภายใต้การดำเนินงานของบริษัท เปรมประชาขนส่ง จำกัดและบริษัทย่อย รวมถึงคู่ค้า ผู้ให้บริการ รวมถึงผู้ที่มีส่วนได้เสียกับบริษัท กำหนดให้ผู้ที่เกี่ยวข้องในการเก็บรักษาข้อมูลส่วนบุคคลที่ปฏิบัติงานภายใต้ความรับผิดชอบของ บริษัท ให้ดำเนินการอยู่ภายใต้การกำกับดูแลของเจ้าหน้าที่คุ้มครองข้อมูล ที่บริษัท ได้แต่งตั้งหรือกำหนดไว้</p>
  </div>
  <div class="policy_definition">
    <h2>คำนิยาม</h2>
    <table>
      <tr>
        <td>“บริษัท”</td>
        <td>หมายถึง บริษัท เปรมประชาขนส่ง จำกัด และบริษัทย่อย</td>
      </tr>
      <tr>
        <td>“บริษัทย่อย”</td>
        <td>หมายถึง บริษัทที่ดำเนินการภายใต้การบริหารจัดการ ของบริษัท</td>
      </tr>
      <tr>
        <td>“ข้อมูลส่วนบุคคล”</td>
        <td>หมายถึง ข้อมูลที่สามารถอ้างอิง หรือระบุตัวบุคคลได้ เช่น ชื่อ นามสกุล ที่อยู่ เบอร์โทรศัพท์ เพศ อายุ เลขประจำตัวประชาชน หรือข้อมูลรูปภาพ หรือข้อมูลอื่น ๆ ที่สามารถระบุถึงตัวบุคคลนั้นไม่ว่า ทางตรง หรือทางอ้อม</td>
      </tr>
      <tr>
        <td>“บุคคล”</td>
        <td>หมายถึง บุคคลธรรมดา เช่น ลูกค้า หรือพนักงาน</td>
      </tr>
      <tr>
        <td>“เจ้าของข้อมูล”</td>
        <td>หมายถึง บุคคลธรรมดาที่เป็นเจ้าของข้อมูลส่วนบุคคล</td>
      </tr>
    </table>
  </div>
  <div class="policy_obj">
    <h2>การกำหนดวัตถุประสงค์ของการเก็บข้อมูลส่วนบุคคล</h2>
    <p>การกำหนดวัตถุประสงค์ของการเก็บข้อมูลเพื่อให้ลูกค้า รับทราบถึงรายละเอียดของสิทธิการเป็นเจ้าของข้อมูลทราบ และดำเนินการให้แก่ลูกค้าตามสิทธิที่ลูกค้าร้องขอ หรือการแจ้งให้ลูกค้าดำเนินการตามสิทธินั้น โดยกำหนดวัตถุประสงค์ในการเก็บข้อมูล ดังนี้</p>
    <p>1. กำหนดให้เก็บข้อมูลส่วนบุคคลของลูกค้า เพื่อใช้ในการให้บริการของบริษัท ในด้านต่าง ๆ เช่น การเดินทาง การรับส่งสินค้า การท่องเที่ยว เพื่อนำไปประมวลผลสำหรับการปรับปรุงการบริการ การจัดทำกิจกรรมส่งเสริมการขาย การให้บริการช่วยเหลือ และแก้ไขปัญหาแก่ลูกค้า</p>
    <p>2. กำหนดให้มีการเก็บบันทึกข้อมูลในลักษณะรูปภาพ หรือวิดีโอ ผ่านระบบกล้องวงจรปิด เพื่อสำหรับการตรวจสอบ ด้านความปลอดภัย และการให้บริการแก่ลูกค้า</p>
    <p>3. กำหนดให้มีการเก็บข้อมูลที่จำเป็นที่เกี่ยวข้องกับข้อกำหนดด้านต่าง ๆ ทางกฏหมาย หรือตามที่ทางหน่วยงานราชการได้กำหนดไว้</p>
    <p>4. กำหนดให้มีการเก็บข้อมูลที่เกี่ยวข้องกับสถาบันการเงิน หรือหน่วยงานอื่น ๆ ที่เกี่ยวข้องกับการเงิน เช่น การชำระเงินเพื่อซื้อสินค้า หรือบริการ</p>
  </div>
  <div class="policy_user_rigth">
    <h2>สิทธิของผู้ใช้บริการด้านการคุ้มครองข้อมูลส่วนบุคคล</h2>
    <p>1. สิทธิที่จะได้รับการแจ้งให้ทราบ ทางบริษัทจะทำการแจ้งการแก่เจ้าของข้อมูลส่วนบุคคลในด้านต่าง ๆ ให้ทราบ โดยเจ้าของข้อมูลมีสิทธิที่จะทราบวัตถุประสงค์ของการเก็บข้อมูล การนำไปใช้ หรือเผยแพร่ ข้อมูลที่ได้มีการจัดเก็บ ระยะเวลาในการเก็บข้อมูล ตลอดจนรายละเอียดของบริษัทส่วนบุคคลให้ทราบ</p>
    <p>2. สิทธิในการขอเข้าถึงข้อมูลส่วนบุคคล เจ้าของข้อมูลส่วนบุคคลมีสิทธิขอเข้าถึงข้อมูล และขอรับข้อมูลส่วนบุคคลต่าง ๆที่เกี่ยวกับเจ้าของข้อมูล รวมถึงสามารถขอให้เปิดเผยถึงการได้มาของข้อมูลส่วนบุคคลดังกล่าว โดยสิทธิการเข้าถึงข้อมูลนั้นต้องไม่ขัดต่อกฎหมาย หรือสิทธิของผู้อื่น</p>
    <p>3. สิทธิในการได้รับ และโอนถ่ายข้อมูล เจ้าของข้อมูลสามารถขอข้อมูลส่วนบุคคลตามที่ได้ร้องขอในรูปแบบที่บริษัทได้จัดเก็บไว้ และสามารถจะขอให้ส่งไปยังบุคคลรายอื่น หรือบริษัท อื่น ๆ หากสามารถทำได้ด้วยวิธีการทางเทคนิค หรือเทคโนโลยีที่รองรับ โดยการใช้สิทธินั้นต้องไม่ขัดต่อกฎหมาย หรือสิทธิของผู้อื่น</p>
    <p>4. สิทธิในการคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล เจ้าของข้อมูลสามารถคัดค้านการเก็บรวบรวม ใช้ หรือการเปิดเผยข้อมูลส่วนบุคคลได้ รวมถึงสามารถเปลี่ยนแปลงรูปแบบ ทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลได้ ยกเว้นกรณีที่กฎหมายได้มีการบังคับกำหนดให้มีการเปิดเผยข้อมูล</p>
    <p>5. สิทธิในการขอให้ลบ หรือทำลายข้อมูลส่วนบุคคล เจ้าของข้อมูลมีสิทธิให้บริษัท ลบหรือทำลายข้อมูลใด ๆ ที่ปรากฏภายใต้การดำเนินการใด ๆ ของบริษัท โดยเจ้าของข้อมูลมีสิทธิขอให้ทำการลบหรือทำลายข้อมูลนั้น หรือทำให้ข้อมูลนั้นไม่สามารถระบุตัวตนได้ โดยบริษัทต้องเป็นผู้รับผิดชอบดำเนินการทั้งหมด ในทุกขั้นตอนดำเนินการเพื่อให้เป็นไปตามคำขอนั้น</p>
    <p>6. สิทธิในการเพิกถอนความยินยอม เจ้าของข้อมูลส่วนบุคคลมีสิทธิในการขอยกเลิกข้อมูลได้ โดยการยกเลิกจะต้องไม่ขัดต่อทางกฎหมาย หรือสัญญาใด ๆ ที่เจ้าของข้อมูลได้รับประโยชน์จากบริษัท</p>
    <p>7. สิทธิในการขอระงับการใช้ข้อมูล เจ้าของข้อมูลส่วนบุคคลมีสิทธิในการขอระงับการดำเนินการใด ๆ ที่เกี่ยวข้องกับข้อมูลส่วนบุคคลนั้น ๆได้ โดยการระงับจะต้องไม่ขัดต่อทางกฎหมาย หรือการดำเนินการใด ๆ ที่ส่งผลต่อการดำเนินการทางกฏหมาย</p>
    <p>8. สิทธิขอให้แก้ไขข้อมูล เจ้าของข้อมูลมีสิทธิที่จะขอแก้ไขข้อมูลส่วนบุคคลของตนเองให้มีความถูกต้อง โดยการแก้ไขจะต้องไม่ขัดต่อทางกฎหมาย หรือการดำเนินการใด ๆ ที่ส่งผลต่อการดำเนินการทางกฏหมาย</p>
  </div>
  <div class="policy_personal_data">
    <h2>ข้อกำหนดการเก็บข้อมูลส่วนบุคคลบนเว็บไซต์ แบบคุกกี้ (Cookie)</h2>
    <p>บริษัทกำหนดให้มีการเก็บข้อมูลผู้ใช้งานผ่านช่องทางการให้บริการผ่านเว็บบราวเซอร์ โดยการใช้รูปแบบการเก็บข้อมูลลักษณะประเภทคุกกี้ ดั้งนี้</p>
    <p>- คุกกี้ประเภทที่มีความจำเป็น (Strictly Necessary Cookies) คุกกี้ประเภทนี้จะมีความสำคัญต่อการทำงานของเว็บไซต์ ที่จะทำให้สามารถใช้งานเว็บไซต์และเข้าถึงข้อมูลได้อย่างปลอดภัย</p>
    <p>- คุกกี้เพื่อการวิเคราะห์/ประสิทธิภาพการทำงานของเว็บไซต์ (Analytical/Performance Cookies) คุกกี้ประเภทนี้จะมีส่วนช่วยในการจดจำและนับจำนวนผู้เข้าเยี่ยมชมเว็บไซต์และช่วยให้ทราบถึงพฤติกรรมในการเยี่ยมชมเว็บไซต์ ในการนำข้อมูลไปเพื่อปรับปรุงการทำงานของเว็บไซต์ให้มีประสิทธิภาพ และมีความปลอดภัย อีกทั้งเพื่อใช้เก็บรวบรวมข้อมูลทางสถิติเกี่ยวกับวิธีการเข้าใช้งาน และพฤติกรรมการเยี่ยมชมเว็บไซต์ เพื่อที่จะนำมาปรับปรุงการทำงานของเว็บไซต์เพื่อให้สามารถใช้งานได้อย่างสะดวก รวดเร็ว ที่จะส่งผลให้การให้บริการบนเว็บไซต์ได้ดียิ่งขึ้น</p>
    <p>- คุกกี้ด้านการรูปแบบทำงานของเว็บไซต์ (Functionality Cookies) คุกกี้ประเภทนี้ใช้ในการจดจำข้อมูลของผู้ใช้งานเมื่อกลับเข้ามาใช้งานเว็บไซต์อีกครั้ง ซึ่งจะช่วยให้เราสามารถปรับแต่งเนื้อหาสำหรับการเข้าใช้งาน เพื่อรองรับความต้องการใช้ของผู้ใช้งาน รวมถึงจดจำการค่าการใช้งานของเช่น รูปแบบภาษา หรือลักษณะรูปแบบการแสดงผลต่าง ๆ ภายในเว็บไซต์</p>
    <p>- คุกกี้ด้านกลุ่มข้อมูลเป้าหมาย (Targeting Cookies) คุกกี้ประเภทนี้จะบันทึกการเข้าชมเว็บไซต์ของผู้ใช้ที่เข้าถึง รวมถึงการใช้งานด้านต่าง ๆ โดยอาจจะมีการส่งต่อข้อมูลไปยังผู้ให้บริการอื่น ๆ ที่เกี่ยวข้องในการให้บริการแก่ผู้ใช้งาน</p>
    <p>- คุกกี้เพื่อการโฆษณา (Advertising Cookies) คุกกี้ประเภทนี้เก็บข้อมูลในการเข้าใช้งานเว็บไซต์ และนำไปใช้เป็นข้อมูลในการนำเสนอโฆษณาที่เหมาะสมกับผู้เข้าใช้งาน รวมไปถึงการวัดผลการเข้าถึงข้อมูลและข่าวสารที่เกี่ยวข้องระหว่างการโฆษณาและผู้ใช้งานเว็บไซต์ท่านสามารถยกเลิก และเก็บข้อมูลผ่าน Cookie ด้วยวิธีต่อไปนี้</p>
  </div>
  <div class="policy_browser">
    <table>
      <tr>
        <td>Chrome</td>
        <td><a href="https://support.google.com/chrome/answer/95647?hl=th" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Firefox</td>
        <td><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Internet Explorer</td>
        <td><a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Microsoft Edge</td>
        <td><a href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Safari</td>
        <td><a href="https://support.apple.com/th-th/guide/safari/sfri11471/mac" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Safari for ios</td>
        <td><a href="https://support.apple.com/th-th/HT201265" target="_blank">คลิก</a></td>
      </tr>
    </table>
  </div>
  <div class="policy_security">
    <h2>ข้อกำหนดความปลอดภัยของข้อมูลส่วนบุคคล</h2>
    <p>
        1.	บริษัทได้จัดเก็บข้อมูลและประมวลผลข้อมูลอยู่บนระบบที่มีความปลอดภัยตามมาตรฐานการรักษาความปลอดภัย และมีการตรวจสอบและเฝ้าระวังอย่างสม่ำเสมอ <br />
        2.	บริษัทได้ทำการควบคุมดูแลการเชื่อมต่อข้อมูลระหว่างการดำเนินการไปยังผู้ให้บริการทางด้านธุรกรรมทางการเงินตามมาตรฐานความปลอดภัย<br />
        3.	บริษัทได้กำหนดแนวทางการจัดเก็บข้อมูลและป้องกันข้อมูลที่อยู่ในรูปแบบเอกสารให้มีความปลอดภัยสูงสุด<br />
        4.	บริษัทได้กำหนดให้มีการบันทึกข้อมูลแบบวิดีโอ ภายในสถานีให้บริการ และบนรถโดยสาร เพื่อตรวจสอบการให้บริการ รวมไปถึงความปลอดภัยของลูกค้า<br />
        5.	บริษัทได้กำหนดผู้ดูแลรับผิดชอบในการดูแล ควบคุม การดำเนินการด้านต่าง ๆ ที่เกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคลเพื่อป้องกันปัญหาที่อาจจะเกิดขึ้น และประสานงานดำเนินการด้านข้อมูลส่วนบุคคลตามที่เจ้าของข้อมูลร้องขอ <br />
    </p>  
  </div>
  <div class="policy_change">
    <p>การเปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคล การดำเนินการใด ๆ ของลูกค้าที่มีส่วนเกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคล ที่บริษัทได้มีการประกาศให้ทราบในปัจจุบัน หรืออาจจะประกาศเพิ่มเติมในอนาคต จะถือว่าลูกค้ายินยอม และรับทราบ และต้องปฏิบัติตามข้อกำหนดในนโยบายที่ได้กำหนดไว้</p>
    <p>บริษัทจะมีการดำเนินการเปลี่ยนแปลง แก้ไข หรือเพิ่มเติมนโยบายคุ้มครองข้อมูลส่วนบุคคลตามความเหมาะสม เพื่อให้สอดคล้องกับกฎหมายว่าด้วยการคุ้มครองข้อมูลส่วนบุคคลหรือกฎหมายอื่นที่เกี่ยวข้องในอนาคต โดยบริษัทจะประกาศการแก้ไขเพิ่มเติมบนเว็บไซต์และช่องทางการสื่อสารของบริษัทให้ทราบโดยทั่วกัน</p>
    ช่องทางการติดต่อด้านข้อมูลส่วนบุคคล<br />
    บริษัท เปรมประชาขนส่ง จำกัด<br />
    สถานีขนส่งอาเขต 2 ถนน แก้วนวรัฐ วัดเกตุ อำเภอเมืองเชียงใหม่ เชียงใหม่ 50000<br />
    053-245-566
  </div>
</div>

<style>

.policy_container{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

a{
  text-decoration: none;
  padding-left: 60px;
}

.policy_browser table tr{
  padding: 20px 0px 20px 0px;
}

.policy_security,.policy_obj{
  margin-top: 20px;  
}

</style>

<div class="policy_container">
  <h1>Personal information protection policy Company Prempracha Transports Co., Ltd.</h1>
  <div class="policy_reason">
    <h2>Principles and reasons</h2>
    <p>Due to the fact that personal information is important nowadays. There is a storage format or obtaining information in many forms, such as storing it in the form of a document or electronic data stored inside and outside the company In addition, in the present that has been developed more from technology to transmit data with high efficiency. Makes access to information easily, conveniently and quickly through many channels. The company realizes the importance of protection of personal data (Data Privacy) that must be protected. has the highest safety according to The Personal Data Protection Personal Data Protection Laws and requiring those involved to strictly follow the guidelines set forth in this policy.</p>
  </div>
  <div class="policy_responsible">
    <h2>Scope of responsibility</h2>
    <p>Requires all operations under the operation of the company Prem Pracha Transport Company Limited and its subsidiaries, including business partners, service providers, and stakeholders Require those involved in the retention of personal information who perform work under the Company's responsibility to operate under the supervision of a data protection officer appointed or designated by the Company.</p>
  </div>
  <div class="policy_definition">
    <h2>Definition</h2>
    <table>
      <tr>
        <td>“company”</td>
        <td>means Prempracha Transports Co., Ltd. and its subsidiaries.</td>
      </tr>
      <tr>
        <td>“Subsidiaries”</td>
        <td>means a company that operates under the management of the Company.</td>
      </tr>
      <tr>
        <td>“Personal information”</td>
        <td>means Information that can be referenced or can identify a person such as name, surname, address, telephone number, gender, age, national identification number or image data or other information that can identify that person, either directly or indirectly.</td>
      </tr>
      <tr>
        <td>“Person”</td>
        <td>means a natural person such as a customer or employee.</td>
      </tr>
      <tr>
        <td>“Data owner”</td>
        <td>means a natural person who owns personal data.</td>
      </tr>
    </table>
  </div>
  <div class="policy_obj">
    <h2>Determining the purpose of collecting personal data</h2>
    <p>Determining the purpose of collecting information for customers Know the details of the ownership rights of the information. and act for the customer according to the rights requested by the customer or informing the customer to act according to that right by specifying the objectives for collecting data as follows:</p>
    <p>1. Required to collect personal information of customers To use the company's services in various fields such as travel, delivery of goods travel to be processed for service improvement Organizing promotional activities support service and solve problems for customers.</p>
    <p>2. Requires data collection in the form of images or videos through the CCTV system. for inspection safety and providing services to customers.</p>
    <p>3. Requires the collection of necessary information related to various legal requirements or as required by government agencies.</p>
    <p>4. Requires data collection related to financial institutions or other entities related to finance, such as payment for goods or services.</p>
  </div>
  <div class="policy_user_rigth">
    <h2>Rights of service users in the protection of personal data</h2>
    <p>1. The right to be informed The company will notify the owner of personal information in various fields. The owner of the information has the right to know the purpose of collecting the information, the use or dissemination of the information that has been collected. retention period as well as the details of the personal company to know.</p>
    <p>2. Right to request access to personal data The owner of the personal data has the right to request access to the data. and obtain personal information about the owner of the data including being able to request disclosure of the acquisition of such personal data The right to access information must not contravene the law. or the rights of others.</p>
    <p>3. Right to receive and transfer data The data subject can request personal data as requested in the form in which the Company has stored it. And can request to be sent to another person or other company if it can be done by technical means. or supported technology by exercising that right must not be contrary to the law or the rights of others.</p>
    <p>4. Right to object to the collection, use or disclosure of personal data Data subjects can object to the collection, use, or disclosure of personal data. including being able to change the format Make personal information non-personally identifiable. Unless the law is required to disclose information.</p>
    <p>5. Right to request removal or destroy personal information The owner of the information has the right to the company. Delete or destroy any information appearing under any action of the Company, provided that the data subject has the right to request that such data be erased or destroyed. or make that information non-identifiable The company must be responsible for all operations. Every step is taken to fulfill the request.</p>
    <p>6. Right to withdraw consent The owner of the personal data has the right to request the termination of the data. The termination shall not be contrary to any law or contract in which the data subject benefits from the Company.</p>
    <p>7. Right to request suspension of use of information The owner of the personal data has the right to request suspension of any processing in connection with that personal data, provided that the suspension is not contrary to law. or any action that affects legal proceedings.</p>
    <p>8. Right to request correction of information The data subject has the right to request that their personal data be corrected. The amendment must not be contrary to the law. or any action that affects legal proceedings.</p>
  </div>
  <div class="policy_personal_data">
    <h2>Terms of collecting personal information on the website (Cookie)</h2>
    <p>The Company requires that user information be collected through a web browser service channel. By using this type of cookie-like data collection model:</p>
    <p>- Strictly Necessary Cookies These cookies are essential to the operation of the website. to enable safe use of the website and access to information</p>
    <p>- Website analytics/performance cookies (Analytical/Performance Cookies) These cookies help to remember and count the number of visitors to the website and to help you understand the behavior of visiting the website. To use the information to improve the performance of the website. and is safe It is also used to collect statistical information about the way you use it. and website visit behavior In order to improve the functionality of the website so that it can be used easily and quickly that will result in better service on the website.</p>
    <p>- Website functional cookies (Functionality Cookies) These cookies are used to remember the user's information when re-entering the website. This will allow us to customize the content for accessibility. to support the needs of users Including remembering the usage of such as language style or various display styles within the website.</p>
    <p>- Targeting Cookies. These cookies record the visits to the website the user accesses. Including various uses, which may be forwarded information to other service providers involved in providing services to users.</p>
    <p>- Advertising Cookies. These cookies collect information about your use of the website. and used as information to present advertisements suitable for users Including the measurement of access to information and news related to advertisements and users of the website, you can opt-out. and collect information via cookies in the following ways</p>
  </div>
  <div class="policy_browser">
    <table>
      <tr>
        <td>Chrome</td>
        <td><a href="https://support.google.com/chrome/answer/95647?hl=th" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Firefox</td>
        <td><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Internet Explorer</td>
        <td><a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Microsoft Edge</td>
        <td><a href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Safari</td>
        <td><a href="https://support.apple.com/th-th/guide/safari/sfri11471/mac" target="_blank">คลิก</a></td>
      </tr>
      <tr>
        <td>Safari for ios</td>
        <td><a href="https://support.apple.com/th-th/HT201265" target="_blank">คลิก</a></td>
      </tr>
    </table>
  </div>
  <div class="policy_security">
    <h2>Security requirements of personal data</h2>
    <p>
        1.	The company stores and processes information on a secure system in accordance with security standards. and have regular inspections and surveillance. <br />
        2.	The company has supervised the connection of data during the process to the financial transaction service provider in accordance with security standards. <br />
        3.	The company has established guidelines for data storage and protection of information in document format for maximum security. <br />
        4.	The company has set the recording of video data. within the service station and on the bus to check the service including the safety of customers. <br />
        5.	The Company has assigned a supervisor to be responsible for the supervision, control, and various operations related to the protection of personal data in order to prevent problems that may arise. and coordinate the processing of personal data as requested by the data subject. <br />
    </p>  
  </div>
  <div class="policy_change">
    <p>Changes to Privacy Policy Any actions taken by the customer in connection with the protection of personal data. that the company has announced at present Or maybe more announcements in the future It is deemed that the customer agrees and acknowledges and must comply with the terms of the policy set forth.</p>
    <p>The company will change, amend or add to the personal data protection policy as appropriate. To comply with the law on personal data protection or other relevant laws in the future The Company will publicly announce the amendments on the Company's website and communication channels.</p>
    Contacts for personal information<br />
    Prempracha Transports Co., Ltd.<br />
    165, Soi 5, Kaeonawarat Road, Tambon Wat Ket, Amphoe Mueang Chiang<br />
    053-245-566
  </div>
</div>