<div class="mt-5">
  <div class="cmd-add-user" *ngIf=" tokenName === 'admin' ">
    <button
    (click)="openDialog()"
    mat-flat-button
    matTooltip="Add user account"
    color="primary">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <h1 align="center">User Information</h1>
  <table class="table text-center">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="cmd-action-menu">
          <div *ngIf=" tokenName !== 'admin' && user.level === '0' ">
            <button mat-flat-button class="admin-switch" (click)="switchAdminAccount(user.level)">
              <mat-icon>
                autorenew
              </mat-icon>
            </button>
          </div>
          <div *ngIf=" user.level !== '0' ">
            <button mat-flat-button class="switch" (click)="switchUserAccount(user.id)">
              <mat-icon>
                autorenew
              </mat-icon>
            </button>
            <button mat-flat-button color="warn" (click)="delUserInfo(user.id)">
              <mat-icon>
                delete_forever
              </mat-icon>
            </button>
            <button mat-flat-button color="primary" routerLink="{{user.id}}">
              <mat-icon>
                settings
              </mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #switchAdmin>
  <div class="cmp-password-promt-box" mat-dialog-content>
    <h1 matDialogTitle>Plase input admin password</h1>
  </div>
</ng-template>
