<div class="mt-5">
  <div class="cmd-add-user" *ngIf=" tokenName === '0' ">
    <button
    routerLink="create"
    mat-flat-button
    matTooltip="Add user account"
    color="primary">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <h1 align="center">User Information</h1>
  <table class="table text-center">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="cmd-action-menu">
          <div *ngIf=" user.id !== '1' ">
            <button mat-flat-button color="warn" (click)="delUserInfo(user.id)">
              <mat-icon>
                delete_forever
              </mat-icon>
            </button>
            <button mat-flat-button color="primary" routerLink="{{user.id}}">
              <mat-icon>
                settings
              </mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
