.mt-5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

tr{
  &>td,th{
    vertical-align: middle;
    width: 100px;
    height: 50px;
  }
}

.cmd-action-menu{
  padding-left: 50px;
  padding-right: 50px;
  div{
    &>button{
      margin-left: 5px;
      margin-right: 5px;
    }
    &>.switch{
      color: white;
      background-color: #303f9f;
    }
    &>.admin-switch{
      color: white;
      background-color: black;
    }
  }
}

table{
  margin: auto;
  width: 1200px;
  border-color: green ;
  border-radius: 15px;
  color: black;
  background-color: whitesmoke;
}

.cmd-add-user{
  &>button{
    margin-left: 150px;
  }
}
