.mt-5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

tr{
  &>td,th{
    vertical-align: middle;
    width: 100px;
    height: 50px;
  }
}

.cmd-action-menu{
  text-align: right;
  div{
    &>button{
      margin-left: 5px;
      margin-right: 5px;
    }
    &>.switch{
      color: white;
      background-color: #303f9f;
    }
    &>.admin-switch{
      width: 230px;
      text-align: center;
      margin-left: 5px;
      &>button{
        color: white;
        background-color: black;
      }
    }
  }
  .cmp-action-control{
    display: flex;
    justify-content: center;
    .cmd-user-action-menu{
      width: 230px;
      text-align: right;
    }
  }
}

table{
  margin: auto;
  width: 1200px;
  border-color: green ;
  border-radius: 15px;
  color: black;
  background-color: whitesmoke;
}

.cmd-add-user{
  &>button{
    margin-left: 150px;
  }
}

.search{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  &>mat-form-field{
    text-align: center;
    mat-icon:hover{
      cursor: pointer;
    }
  }
}

.cmp-user-deleted-alert{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  &>h1{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
  }
  &>img{
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
  }
}

.cmd-pagination {
  width: 1200px;
  padding-top: 30px;
  text-align: right;
  margin: auto;
}
