<div class="mt-5">
  <div class="cmd-add-user" *ngIf=" tokenName === 'admin' ">
    <button
    (click)="openCreateDialog()"
    mat-flat-button
    matTooltip="Add user account"
    color="primary">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>

  <h1 align="center">User Information</h1>
  <form class="search">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <mat-icon (click)="onSearch()" matSuffix>search</mat-icon>
      <input matInput type="search" name="name" [(ngModel)]="name" (ngModelChange)="onSearch()" >
    </mat-form-field>
  </form>

  <table class="table text-center">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let user of users | paginate:{itemsPerPage:5, currentPage:p}; ">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="cmd-action-menu">
          <div class="cmp-action-control">
            <div *ngIf=" tokenName !== 'admin' && user.level === '0' " class="admin-switch">
              <button mat-flat-button (click)="switchAdminAccount(user.level)">
                <mat-icon>
                  autorenew
                </mat-icon>
              </button>
            </div>
            <div *ngIf=" user.level !== '0' " class="cmd-user-action-menu">
              <button mat-flat-button class="switch" (click)="switchUserAccount(user.id)" *ngIf="tokenName === 'admin'">
                <mat-icon>
                  autorenew
                </mat-icon>
              </button>
              <button mat-flat-button color="warn" (click)="delUserInfo(user.id)" *ngIf="tokenName === 'admin' ">
                <mat-icon>
                  delete_forever
                </mat-icon>
              </button>
              <button mat-flat-button color="primary" routerLink="{{user.id}}" *ngIf="tokenName === user.id || tokenName === 'admin' ">
                <mat-icon>
                  settings
                </mat-icon>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="cmd-pagination">
    <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
    previousLabel=""
    nextLabel=""></pagination-controls>
  </div>
</div>


<ng-template #switchAdmin>
  <div class="cmp-password-promt-box" mat-dialog-content>
    <h1 matDialogTitle>Your don't have permission to use this function</h1>
    <mat-dialog-actions align="center">
      <button
      color="warn"
      mat-flat-button
      matDialogClose>Back</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #userDeleted>
  <div class="cmp-user-deleted-alert">
    <h1 matDialogTitle>User deleted!!!</h1>
    <img src="./assets/illustration/himer.gif">
    <mat-dialog-actions align="center">
      <button
      color="primary"
      mat-flat-button
      matDialogClose>OK</button>
    </mat-dialog-actions>
  </div>
</ng-template>
