<h1 mat-dialog-title class="music-add-container" >New music</h1>
<form mat-dialog-content [formGroup]="musicForm" (ngSubmit)="postdata(musicForm)">
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>Music name</mat-label>
      <mat-icon matPrefix>music_note</mat-icon>
      <input type="text"
        matInput name="name"
        formControlName="name"
        autocomplete="doNotAutoComplete"
        placeholder="music name">
      <mat-error *ngIf="musicForm.get('name')?.errors?.['required']">Required</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Music url</mat-label>
      <mat-icon matPrefix>link</mat-icon>
      <input type="text"
        matInput name="url"
        formControlName="url"
        autocomplete="doNotAutoComplete"
        placeholder="music url">
      <mat-error *ngIf="musicForm.get('url')?.errors?.['required']">Required</mat-error>
    </mat-form-field>
  </div>

  <button
  mat-flat-button
  color="primary"
  type="submit"
  class="save">
    <mat-icon>save</mat-icon>
    Save
  </button>

  <button
  mat-flat-button
  color="warn"
  type="button"
  (click)="onReset()"
  class="reset">
    <mat-icon>refresh</mat-icon>
    Reset
  </button>

</form>
