<div class="covid-day">
  <p class="header-title mt-3">Daily COVID-19 situation report</p>

  <div class="container">
    <div *ngIf="timelineCasesAll; else loading">
      <div
        class="date-covid mt-3 d-flex align-items-center justify-content-end">
        <h3 style="margin: 0; margin-right: 12px">Date :</h3>
        <input
          type="date"
          (change)="onDateChange($event)"
          [value]="selectedDateCovidCases?.txn_date"
          [max]="now.toISOString().split('T')[0]"
        />
      </div>
      <div class="last-update mt-3">
        <h3>Latest update : {{ selectedDateCovidCases?.update_date }}</h3>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-danger w-50">
          <p class="head-detail">New case number</p>
          <div class="info-detail">
            <h1>{{ selectedDateCovidCases?.new_case?.toLocaleString() }} people </h1>
            <span> all {{ selectedDateCovidCases?.total_case?.toLocaleString() }} people </span>
          </div>
        </div>

        <div class="line-chart w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartNewCasesCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-dark w-50">
          <p class="head-detail">New death number</p>
          <div class="info-detail">
            <h1> {{ selectedDateCovidCases?.new_death }} people </h1>
            <span> all {{ selectedDateCovidCases?.total_death?.toLocaleString() }} people </span>
          </div>
        </div>
        <div class="line-chart w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartNewDeathCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-success w-50">
          <p class="head-detail">New recovered case</p>
          <div class="info-detail">
            <h1> {{ selectedDateCovidCases?.new_recovered?.toLocaleString() }} people </h1>
            <span> all {{ selectedDateCovidCases?.total_recovered?.toLocaleString() }} people </span>
          </div>
        </div>
        <div class="line-chart w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartRecoverdCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div class="spinner-border text-dark mt-3" role="status"></div>
      <span class="sr-only">Data loading...</span>
    </ng-template>
  </div>

</div>
