.input-container{
  margin: auto;
  margin-top: 30px;
  width: 300px;
  text-align: center;
}

.input-show{
  display: grid;
  grid-template-columns: 2cm 1cm 1.5cm;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  &>span{
    text-align: right;
    font-family: monospace;
    font-size: 26px;
    text-decoration: underline;
  }
}
